{erl_opts, [debug_info]}.

{deps, [{egd, {git, "https://github.com/erlang/egd.git", {branch, "master"}}}
       ,{svg, "0.2.0", {pkg, erlang_svg}}
       ,{elli, "3.3.0"}
       ]}.

{shell, [{apps, [edenticon]}
        %{config, "config/sys.config"},
        ]}.

{relx, [{release, {edenticon, "0.1" }, [sasl
                                       ,xmerl
                                       ,elli
                                       ,crypto
                                       ,egd
                                       ,svg
                                       ,edenticon
                                       ]}
       ,{dev_mode, false}
       ,{include_erts, true}
       ,{extended_start_script, true}
       ,{overlay, [{template, "./scripts/launch", "launch"}]}
       ]}.

{post_hooks, [{release, "./scripts/warp-packer -a linux-x64 -i _build/default/rel/edenticon -e launch -o edenticon.0.1.linux-x64"}]}.
